.heading{
    font-family: 'Poiret One', cursive;
    font-size: 100px;
    text-align: center;
    color: #be95c4;      
}

.heading2{
    font-family: Ink Free;
    font-size:50px;
    text-align:center;
    color: #b5838d;
    background: none;
}
.foodName, h3{
    margin: 20px 50px 30px 50px;
    font-size: 20px;
    color: #be95c4;
    font-family: Ink Free;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    padding: 10px;
    background-color:#5e548e;
    align-items: center;
    margin: 30px 50px 0px 50px;

   
}
button {
    background: none; 
    color: #cad2c5;
    border: 3px solid ;
    border-radius: 15px;
    padding: 1em 2em;
    transition: all 0.2s;
}

button:hover {
    border-color: #be95c4;
    color:whitesmoke;
    box-shadow: 0 1em 0.5em -0.5em #be95c4;
    transform: translateY(-0.2em);
}

body, button{
    background: #14213d;
    text-align: center;
}

.item img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 50px;
    box-shadow: 1em 1em 0.5em -0.5em purple;
    
}

.intro{
    font-family:"Lucida Console", "Courier New", monospace;
    color:#f6bd60;
    margin:20px 200px 30px 200px;
}

ol, ul, .left-text{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#f5cac3;
    margin:0 200px 30px 200px;
}

.item {
    display: inline-block;
}